body {
    background:#efce8c;
    color:#dcf5e2;
    font-family:sans-serif;
}

p {
    background:#2e8e84;
    color:beige;
    border: 5px solid;
    padding: 10px;
    margin: 15px;
}

p:hover {
    background:#0c3a35;
    color:#2e8e84;
}

.banner {
    text-align:center;
    font-size: 170%;
    border-style:dashed;
}

a {
    color:#8214dc;
    text-decoration:none;
    font-style:italic;
    font-weight:bold;
}

a:hover {
    color:#3d0e5a
}