* {
    box-sizing:border-box;
}

body {
    margin:0;
    background:#ffffff;
}

img {
    max-width:100%;
}

.head {
    font-family:'Inter', sans-serif;
    font-weight:700;
    font-size:35px;

    padding-left:20px;
    margin-top:40px;

    color:#ff3131;
}

.list {
    font-family:'Inter', sans-serif;
    font-weight:500;
    font-size:20px;

    margin:35px;
}

a {
    color:#000000;
    text-decoration:none;
}

a:hover {
    color:#ff0000;
    transition:.7s;
}

i {
    font-weight:300;
}