@font-face {
  font-family: 'JuliaMono';
  src: url('./assets/fonts/JuliaMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  background: #3d3f5c;
  font-size:10pt;
  font-weight:300;
}

* {
  font-family: 'JuliaMono', monospace;
  color: white
}

h1 {
  padding-bottom: 30px;
  border-bottom: 2px solid #151625;
  padding-left: 10px;
  text-align: center;
  font-weight: 600;
}

h2 {
  font-size: 10pt;
  font-weight: 300;
}

.column1 {
  float: left;
  width: 350px;
  margin: 10px;
  padding-right: 20px;
  text-align: right;
}

.column2 {
  float: left;
  width: 600px;
  height: 800px;
  margin: 10px;
  padding-left: 40px;
  border-left: 2px solid #151625;
}
