* {
    box-sizing:border-box;
}

body {
    margin:0;
}

img {
    max-width:100%;
}

.container {
    background:white;
    height:100vh;
    border:2vh solid #ef018d;

    display:flex;
    position:relative;
    overflow:hidden;
    z-index:1;
}

.tree {
    width:800px;
    height:800px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    z-index:10;
    animation: shake 14s ease infinite;

    justify-content:space-evenly;
    align-items:center;
}

@keyframes shake{
    0%{
        translate:0px; 
    }
    11.2%{
        translate:0px;
    }
    12.4%{
        translate:-15px; 
    }
    13.2%{ 
        translate:30px; 
    }
    14.8%{ 
        translate:-35px; 
    }
    15.7%{
        translate:25px;
    }
    17.6%{
        translate:-20px;
    }
    18.9%{
        translate:20px;
    }
    20.8%{
        translate:0px;
    }
    100%{ 
        translate:0px;
    }
}

.letters {
    height:100vh;
    
    font-family:'Inter Tight', sans-serif;
    font-weight:900;
    font-size:100px;

    display:flex;
    overflow:hidden;
}

.letters div {
    position: absolute;
    top:-200px;
    animation: fall 7s 4s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity:0;
    }
    10% {
        opacity:1;
    }
    82% {
        opacity:1;
    }
    92% {
        opacity:0;
    }
    100% {
        transform:translateY(120vh);
        opacity:0;
    }
}

.letters div:nth-child(1) {
    left:8vw;
    animation-delay:0s;
    color:#ea1b41;
}

.letters div:nth-child(2) { 
    left:44vw; 
    animation-delay:1.8s;
    color:#56489f;
}

.letters div:nth-child(3) { 
    left:63vw;
    animation-delay:3.4s;
    color:#a01d81; 
}

.letters div:nth-child(4) { 
    left:22vw;  
    animation-delay:4.9s;  
    color:#ef018d; 
}

.letters div:nth-child(5) { 
    left:38vw;  
    animation-delay:6.3s;  
    color:#ffc20f; 
}

.letters div:nth-child(6)  {
    left:73vw;  
    animation-delay:7.8s;  
    color:#f15b22; 
}

.letters div:nth-child(7)  {
    left:15vw;  
    animation-delay:9.1s;  
    color:#00b297; 
}

.letters div:nth-child(8) {
    left:58vw;  
    animation-delay:10.7s; 
    color:#04abde; 
}

.letters div:nth-child(9) {
    left:31vw;
    animation-delay:12.2s;
    color:#56489f; 
}

.letters div:nth-child(10) {
    left:5vw;   
    animation-delay:13.6s;
    color:#ffc20f; 
}

.letters div:nth-child(11) {
    left:47vw;  
    animation-delay:15s;   
    color:#f15b22; 
}

.letters div:nth-child(12) {
    left:79vw;
    animation-delay:16.5s;
    color:#ffc20f; 
}

.letters div:nth-child(13) { 
    left:19vw;  
    animation-delay:18s;   
    color:#00b297; 
}

.letters div:nth-child(14) { 
    left:54vw;  
    animation-delay:19.3s; 
    color:#04abde; 
}

.letters div:nth-child(15) { 
    left:69vw;  
    animation-delay:20.6s; 
    color:#56489f; 
}

.letters div:nth-child(16) { 
    left:26vw;  
    animation-delay:21.9s; 
    color:#a01d81; 
}

.letters div:nth-child(17) { 
    left:36vw;  
    animation-delay:23.2s; 
    color:#ef018d; 
}

.letters div:nth-child(18) { 
    left:12vw;  
    animation-delay:24.5s; 
    color:#ea1b41; 
}

.letters div:nth-child(19) { 
    left:41vw;  
    animation-delay:25.8s; 
    color:#f15b22; 
}

.letters div:nth-child(20) { 
    left:66vw;  
    animation-delay:27.1s; 
    color:#ffc20f; 
}

.letters div:nth-child(21) { 
    left:9vw;   
    animation-delay:28.4s; 
    color:#00b297; 
}

.letters div:nth-child(22) { 
    left:49vw;  
    animation-delay:29.7s; 
    color:#04abde; 
}

.letters div:nth-child(23) { 
    left:60vw;  
    animation-delay:31s;   
    color:#56489f; 
}

.letters div:nth-child(24) { 
    left:29vw;  
    animation-delay:32.3s; 
    color:#a01d81; 
}

.letters div:nth-child(25) { 
    left:83vw;  
    animation-delay:33.6s; 
    color:#ef018d; 
}

.letters div:nth-child(26) { 
    left:17vw;  
    animation-delay:34.9s; 
    color:#ea1b41; 
}